*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-header{
    display: flex;
    width: 100%;
    height: 100px;
    background: var(--header-footer);
}

.header-left{
    display: flex;
    width: 50%;
    height: auto;
    padding-left: 60px;
    align-items: center;
}


.header-right{
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: end;
}



.material-icons{
    font-size: 40px;

}

.icons{
    display: flex;
   
   
    padding-right: 78px;
    gap: 30px;
}

a{
    color: var(--preto);
}

.gpt{
    color: var(--cor-logo-GPT);
    text-shadow: 2px 2px var(--preto);
}

.rio{
    color: var(--branco);
    text-shadow: 2px 2px var(--preto);
}