*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-header{
    display: flex;
    width: 100%;
    height: 100px;
    background: linear-gradient(to right, #31017C, #5A30B5, #7A5FCF);
}

.header-left{
    display: flex;
    width: 50%;
    height: auto;
    padding-left: 60px;
    align-items: center;
}


.header-right{
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: end;
}

.logo{
    font-size: 40px;
}

.material-icons{
    font-size: 40px;

}

.icons{
    display: flex;
   
   
    padding-right: 78px;
    gap: 30px;
}

a{
    color: black;
}

.gpt{
    color: #D1A1FF;
    text-shadow: 2px 2px black;
}

.rio{
    color: white;
    text-shadow: 2px 2px black;
}