html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 0.84;
}


.header {
  background-color: var(--cor-gradient-1);
  color: var(--branco);
}

.footer {
  background-color: var(--cor-gradient-1);
  color: var(--branco);
  margin-bottom: -100px;
  padding: 1rem 2rem;
}

.logo a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  line-height: 1;
}

.rounded-4{
  width: 700px;
  height: auto;
  

}

.card{
  width: 600px;

}

.container{
  display: flex;
  gap: 30px;
  
}


.btn-primary {
  background-color: var(--cor-botoes) !important;
  border: 2px solid var(--preto) !important;
  color: var(--preto) !important;
  box-shadow: none !important;
}

.btn-primary:hover {
  background-color: var(--hover-botoes) !important; /* se quiser efeito ao passar o mouse */
  color: var(--preto) !important;
}

.card .btn-primary { /* ou o que envolva os botões no resumo */
  border: 2px solid var(--preto) !important;
}

.carrinho-card {
  background-color: var(--cor-botoes) !important;
  border: 2px solid var(--preto) !important;
  color: var(--preto);
}

