

.header {
  background-color: var(--cor-gradient-1);
  padding: 1rem 2rem;
  color: var(--branco);
}

.footer {
  background-color: var(--cor-gradient-1);
  padding: 1rem 2rem;
  color: var(--branco);
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--preto);
  border: 2px solid var(--preto);
  width: 558px;
  height: 60px;
  background-color: var(--cor-botoes);
}

.btn:hover{
  background-color: var(--hover-botoes);
  color: var(--preto);
  border: 2px solid var(--preto);
}

.formulario__input{
  width: 536px;
  height: 60px;
  font-size: 20px;
}

.formulario__title{
  font-size: 30px;
}