body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.pagina__conteudo {
  flex: 1;
}

/* Carrossel */
.pagina__carrossel {
  background-color: var(--branco);
  padding: 2rem;
  text-align: center;
}

.pagina__carrossel-container .carousel-item img {
  max-height: 400px;
  width: auto;
  margin: 0 auto;
  display: block;
  object-fit: contain;
}

/* Categorias */
.pagina__categorias {
  padding: 2rem;
  text-align: center;
}

.pagina__categorias-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagina__categorias-titulo {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.pagina__categorias-botoes {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.pagina__categorias-botoes .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--preto);
  border: 2px solid var(--preto);
  width: 240px;
  height: 50px;
}

.btn-outline-primary {
  background-color: var(--cor-botoes);
}

.btn-outline-primary:hover {
  background-color: var(--hover-botoes) !important;
  color: var(--preto) !important;
  border: 2px solid var(--preto) !important;
}

.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  background-color: var(--cor-botoes) !important;
  color: var(--preto) !important;
  border: 2px solid var(--preto) !important;
}

.btn-outline-secondary {
  background-color: var(--cor-botao-todos);
  font-weight: 1000;
  color: var(--preto);
  border: 2px solid var(--preto);
}

.btn-outline-secondary:hover {
  color: var(--branco) !important;
  border: 2px solid var(--preto) !important;
}

.btn-outline-secondary:focus,
.btn-outline-secondary:active,
.btn-outline-secondary:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  background-color: var(--cor-botao-todos) !important;
  color: var(--preto) !important;
  border: 2px solid var(--preto) !important;
}

/* Responsivo */
@media (max-width: 768px) {
  .header__container,
  .footer__container {
    flex-direction: column;
    gap: 1rem;
  }
}
