

.header {
  background-color: var(--cor-gradient-1);
  padding: 1rem 2rem;
  color: var(--branco);
}

.footer {
  background-color: var(--cor-gradient-1);
  padding: 1rem 2rem;
  color: var(--branco);
}