body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

.header {
  background-color: var(--cor-gradient-1);
  padding: 1rem 2rem;
  color: var(--branco);
}

.footer {
  background-color: var(--cor-gradient-1);
  padding: 1rem 2rem;
  color: var(--branco);
}

.carrossel {
  background-color: var(--branco);
  padding: 2rem;
  text-align: center;
}

.categorias {
  padding: 2rem;
  text-align: center;
}

.categorias__botoes {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.categorias__botoes button {
  padding: 0.5rem 1rem;
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--preto);
  border: 2px solid var(--preto);
  width: 240px;
  height: 50px;
}

.btn-outline-primary{
  background-color: var(--cor-botoes-categoria);
}

.btn-outline-secondary{
  background-color: var(--cor-botao-todos);
  font-weight: 1000;
}

.btn-outline-primary:hover{
  background-color: var(--hover-botoes);
  color: var(--preto); 
  border: 2px solid var(--preto); 
  
}


@media (max-width: 768px) {
  .header__container,
  .footer__container {
    flex-direction: column;
    gap: 1rem;
  }
}
