<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" href="/static/css/footer.css">

<footer class="footer">

  <div class="footer__container d-flex justify-content-between align-items-center">

    <div class="footer__info d-flex align-items-center gap-2">

      <span class="material-icons">copyright</span>


      <p>2025 GPTrio. Todos os direitos reservados.</p>

    </div>

    <div class="icons2">

      <span class="wpp"><img src="/static/icons/whatsapp.svg" alt="" class="wpp-icon" ></span>
      <span class="face"><img src="/static/icons/facebook.svg" alt="" class="face-icon" ></span>
      <span class="inst"><img src="/static/icons/instagram.svg" alt="" class="inst-icon"></span>

    </div>

  </div>

</footer>