
<footer class="footer">

  <div class="footer__container d-flex justify-content-between align-items-center">

    <div class="footer__info d-flex align-items-center gap-2">

      <span class="material-icons">copyright</span>


      <p>2025 GPTrio. Todos os direitos reservados.</p>

    </div>

    <div class="icons2">

      <i class="fa-brands fa-whatsapp"></i>
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram" style="color: #ffffff;"></i>

    </div>

  </div>

</footer>