<footer class="footer">

  <div class="footer__container d-flex justify-content-between align-items-center">
  
    <div class="footer__info d-flex align-items-center gap-2">
      <span class="material-icons">copyright</span>
      <p class="footer__text">2025 GPTrio. Todos os direitos reservados.</p>
    </div>

    <div class="footer__social">
      <a href="https://wa.me/16991125843" target="_blank" class="footer__icon">
        <i class="fa-brands fa-whatsapp"></i>
      </a>

      <a href="https://www.facebook.com/people/Vitor-Terra/pfbid0MhFfyiNf8Qwi1KNf4yMtPm4134WpaYTpHEfs4TuJkq5F4izkxH2MCAwyxaKqRWMPl/" target="_blank" class="footer__icon">
        <i class="fa-brands fa-facebook"></i>
      </a>

      <a href="https://instagram.com/danillo_matavelli" target="_blank" class="footer__icon">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </div>

  </div>

</footer>
