<header class="header">
  <div class="header__left">

    <div class="header__logo">
      <a href="/"><span class="header__logo-gpt">GPT</span><span class="header__logo-rio">rio</span></a>
    </div>

  </div>

  <div class="header__right">

    <div class="header__icons">

      <a href="/carrinho"><span class="material-icons">shopping_cart</span></a>

      {% if nome %}
      <span class="header__saudacao">Olá, {{ nome }}</span>
      <a href="/logout"><span class="material-icons">logout</span></a>
      {% else %}
      <a href="/login"><span class="material-icons">account_circle</span></a>
      {% endif %}

    </div>

  </div>
</header>