
<header class="main-header">
  <div class="header-left">

    <div class="logo">
      <a href="/"><span class="gpt">GPT</span><span class="rio">rio</span></a>
      
    </div>

  </div>
  <div class="header-right">

    <div class="icons">


      <a href="/carrinho"><span class="material-icons">shopping_cart</span></a>
      
      {% if nome %}
      <span>Olá, {{ nome }}</span>
      <a href="/logout"><span class="material-icons">logout</span></a>
      {% else %}
      <a href="/login"><span class="material-icons">account_circle</span></a>
      {% endif %}
      
    </div>
   
  </div>
</header>