<section class="loja__produtos container">
  <div class="row g-4">
    {% for produto in produtos %}
    <div class="col-md-4">
      <div class="loja__card card text-center p-2">
        <a href="{{ url_for('produto_detalhado', cod_produto=produto.cod_produto) }}" class="loja__card-link">
          <img src="{{ produto.imagem_principal }}" class="loja__card-img card-img-top" alt="{{ produto.nome }}">
          <div class="loja__card-body card-body">
            <h5 class="loja__card-title card-title">{{ produto.nome }}</h5>
            <p class="loja__card-text card-text">{{ produto.descricao }}</p>
            <p class="loja__card-price card-text fw-bold">R$ {{ produto.preco }}</p>
          </div>
        </a>
        <div class="loja__miniaturas">
          {% if produto.url_foto1 %}
          <img src="{{ produto.url_foto1 }}" class="loja__miniatura-img miniatura-img">
          {% endif %}
          {% if produto.url_foto2 %}
          <img src="{{ produto.url_foto2 }}" class="loja__miniatura-img miniatura-img">
          {% endif %}
          {% if produto.url_foto3 %}
          <img src="{{ produto.url_foto3 }}" class="loja__miniatura-img miniatura-img">
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
